.text {
	border: solid 1px;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	background-color: #F3EFFFFF;
	margin: 10px;
	padding: 5px;
}

.btn {
	width: 100px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.options {
	border: solid 1px;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	padding: 10px;
	margin: 10px;
	width: 100px;
}