<!-- Вот это название employees задаётся во view классе через переменную context_object_name  -->
{% for employee in employees %}
    <div>
        {{ employee.first_name }} {{ employee.surname }} from {{ employee.department.name }}
        <a href="{% url 'employee_details' employee.id %}">details</a>
        <a href="{% url 'employee_update' employee.id %}">update</a>
        <a href="{% url 'employee_delete' employee.id %}">delete</a>
    </div>
{% endfor %}

<!-- page_obj сюда приезжает тоже автоматически из класса view, в явном виде мы его не пробрасываем -->
{% if page_obj.number %}
    <br/><br/>This is page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
{% endif %}
