<!-- Простой шаблон, показывающий как django работает с формами -->

<form method="POST">

    <!-- Это обязательно если явно не отключено -->
    {% csrf_token %}

    <fieldset>
        <legend>{{ title }}</legend>

        <!-- Вот тут вся магия - генерится html из объекта формы -->
        {{ form }}




        <!--
        Если интересно, вот что генерится:
        <tr><th><label for="id_first_name">First name:</label></th><td><input type="text" name="first_name" id="id_first_name" required maxlength="100"></td></tr>
<tr><th><label for="id_surname">Surname:</label></th><td><textarea name="surname" rows="10" required id="id_surname" cols="40">
</textarea></td></tr>
<tr><th><label for="id_department">Department:</label></th><td><select name="department" id="id_department" required>
  <option value="" selected>---------</option>

  <option value="1">test1</option>

  <option value="2">dep2</option>

</select></td></tr>
<tr><th><label for="id_email">Email:</label></th><td><input type="email" name="email" id="id_email" required></td></tr>
        -->




    </fieldset>
    <div>
        <button type="submit">Create</button>
    </div>
</form>
