<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Flask base concepts</title>
</head>
<body>

	<h1>Flask base concepts</h1>
	This page is rendered by flask from index.html file

	<br/><a href="/template_params">template_params</a>
	<br/><a href="/urlfor">urlfor</a>
	<br/><a href="/request_params">request_params</a>
	<br/><a href="/methods">methods</a>
	<br/><a href="/redirect">redirect</a>
	<br/><a href="/cookies">cookies</a>
	<br/><a href="/errors">errors</a>
	<br/><a href="/sessions">sessions</a>
	<br/><a href="/file_uploads">file_upload</a>
	<br/><a href="/escape">escape</a>

</body>
</html>