/*
Я пока не особо хорошо знаю CSS, так что да, здесь не всё по фэн-шую.
Даже не зная особо CSS чувствую, что подгонки размеров циферками есть костыль.
*/

.menu {
        border: solid 1px;
        box-shadow: 0 0 3px rgba(0,0,0,0.5);
        background-color: #F3EFFFFF;
        padding-left: 20px;
        padding-right: 20px;
        display: inline-block;
        height:80vh;
        float: left;
        margin-right: 20px;
}

.main {
        height: 80vh;
        display: table;
        width: 50vw;
}

.title {
        font-size: 30px;
        margin-bottom: 20px;
        height:50px;
        display: table-row;
}

.workspace {
        border: solid 1px;
        box-shadow: 0 0 3px rgba(0,0,0,0.5);
        background-color: #F3EFFFFF;
        padding: 10px;
}

.footer {
        margin-top: 30px;
}

.option {
        margin-bottom: 10px;
}

.message {
        border: solid 1px;
        box-shadow: 0 0 3px rgba(0,0,0,0.5);
        background-color: #F3EFCCCC;
        margin: 10px;
        padding: 5px;
}